h1 {
  color: rgba(9,200,100,0.8)
  /* border-color: purple;
  border-width: 5px;
  border-style: solid; */
  border: purple 8px solid;
}

/* border
------
width
color
style */

body {
  background: pink;
  /* background: url(https://previews.123rf.com/images/inspiredbythelight/inspiredbythelight1711/inspiredbythelight171100406/89929425-vintage-wooden-background-old-wood-texture-backdrop-with-natural-pattern-cozy-texture-.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

h4 {
    background: rgb(255,100,80);
}
